.App {
  text-align: center;
  color: white;
}

.header{
  background-color:rgb(89, 9, 163);
}

h1{
  margin: 0;
}
.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;
}
.movie{
  color: white;
  background-color: rgb(45, 80, 80);
  border: 1px solid black;
  padding: 4px;
  text-align: center;
  margin-top: 10px;
}
.movie img{
  height:70%;
  width: 70%;
}